.DS_Store

# IntelliJ
.idea/

# CMake
cmake-build-*/

# Mongo Explorer plugin

# File-based project format
*.iws
*.iml

# IntelliJ
out/


# JIRA plugin
atlassian-ide-plugin.xml


# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#Eclipse
.classpath
.project
.settings/

#maven
target
bin